In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/chaoiting/Desktop/competition/new_df_impute.csv')
df

,Unnamed: 0,Countries,Area,mortality_rate,Life,Primary_school,Pre-primary_male,Pre-primary_female,Pop_5,Urbanized_pop,...,HepB3,Hib3,rota,PCV3,PAB_against_tetanus,label,drinking_water_u,drinking_water_r,sanitation_services_u,sanitation_services_r
0,0,Afghanistan,South Asia,70.0,63.6730,89.746724,55.745684,64.875298,5232.848000,27.132,...,65.0,65.0,0.0,65.0,65.0,2,89.048629,53.483161,56.404706,32.959991
1,1,Albania,Eastern Europe and Central Asia,14.0,78.3450,95.517310,89.722320,87.398910,177.372000,58.376,...,98.0,98.0,0.0,98.0,92.0,3,92.521470,89.875174,98.288014,96.885533
2,2,Algeria,Middle East and North Africa,25.0,76.0780,97.062150,78.956780,79.477120,4699.122000,71.304,...,91.0,91.0,0.0,61.0,92.0,0,95.442932,88.690957,89.672369,82.209238
3,3,Andorra,Western Europe,3.0,76.1022,95.113792,82.614120,88.856372,3.410533,84.612,...,94.0,98.0,0.0,92.0,98.6,3,100.000000,100.000000,100.000000,100.000000
4,4,Angola,Eastern and Southern Africa,83.0,61.5470,84.012310,64.208470,94.400130,5277.122000,44.819,...,64.0,64.0,53.0,58.0,78.0,1,63.256062,23.488065,62.347862,21.385504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,Venezuela (Bolivarian Republic of),Latin America and Caribbean,16.0,74.5450,89.856750,75.042660,75.600840,2974.249000,89.043,...,84.0,84.0,47.0,7.0,75.0,3,98.780354,86.399516,97.739565,72.261130
193,193,Viet Nam,East Asia and Pacific,22.0,76.2530,97.965110,84.123450,82.033330,7760.728000,34.236,...,96.0,96.0,0.0,0.0,94.0,0,91.991942,90.786985,90.986262,71.788264
194,194,Yemen,Middle East and North Africa,55.0,64.9530,84.837330,1.428220,1.257630,4075.161000,35.187,...,71.0,71.0,59.0,71.0,70.0,2,84.662428,62.789527,89.932402,43.674760
195,195,Zambia,Eastern and Southern Africa,63.0,61.8740,87.404110,69.341940,69.537068,2820.123000,41.379,...,91.0,91.0,90.0,90.0,85.0,2,85.504253,44.407829,48.995454,18.724212
196,196,Zimbabwe,Eastern and Southern Africa,56.0,61.1630,85.862390,41.999560,42.900430,2539.448000,32.277,...,90.0,90.0,91.0,90.0,80.0,2,93.775631,53.534696,53.933167,31.242187

In [3]:
country = df.iloc[:, 1].tolist()
area = df.iloc[:, 2].tolist()
geo = pd.DataFrame(np.array([country, area]), 
                         index = ['country', 'area'])
geo = geo.T
geo

                                country                             area
0                           Afghanistan                       South Asia
1                               Albania  Eastern Europe and Central Asia
2                               Algeria     Middle East and North Africa
3                               Andorra                   Western Europe
4                                Angola      Eastern and Southern Africa
..                                  ...                              ...
192  Venezuela (Bolivarian Republic of)      Latin America and Caribbean
193                            Viet Nam            East Asia and Pacific
194                               Yemen     Middle East and North Africa
195                              Zambia      Eastern and Southern Africa
196                            Zimbabwe      Eastern and Southern Africa

[197 rows x 2 columns]

In [4]:
geo.to_csv(r'/Users/chaoiting/Desktop/competition/geo.csv')